* {
    margin: 0;
    padding: 0;
}


/* -------- Geral -------- */

.ajusteText {
    color: black;
}

.tentandotnc {
    color: black;
}
/* -------- Navbar -------- */

#navbar {
    background-color: #2BB6AE;
    width: 100%;
    height: 60px;
}


#container_nav {
    background-color: #2BB6AE;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    height: 60px;
}

.nav_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    display: inline;
    line-height: 60px;
    padding: 3px;
     
}

ul li a {
    color: #ccc;
    text-decoration: none; 
    
}

li {
    list-style: none;
}

li a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.7s ease;
    text-decoration: none;
}

ul li a.active {
    color: #fff;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    display: none;
    margin-right: 7px;
}

#check {
    display: none;
}

.ajuste {
    margin-top: 13px;
}


/* -------- Text -------- */
#containerText {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    height: 60px;
}

.ajuste_title {
    font-weight: 400;
}

/* -------- Formularios -------- */

#containerForm {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    height: 60px;
}

.formAno{
    padding-right: 15px;
    width: 180px;
}

.formMes, .formDia {
    width: 180px;
    padding-left: 15px;
    padding-right: 15px;
}

.formTipo {
    width: 480px;
    padding-left: 15px;
}

#containerForm {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    height: 60px;
}

#container_Form {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    height: 60px;
}

.descricao {
    width: 650px;
    padding-right: 15px;
}

.valor {
    width: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 7px;
}

.btn {
    background-color: #2BB6AE;
    color: #fff;
}

/* -------- Pagina de consulta -------- */

#lista_consulta {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    height: 60px;
}


/* -------- responsive -------- */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
     /* navbar */
     #container_nav {
        background-color: #2BB6AE;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        height: 60px;
    }

    .checkbtn {
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #33a39e;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        font-size: 20px;
        line-height: 30px;
    }

   .open {
       left: 0%;
   }
    

    /* --------  */

    #containerForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        height: 60px;
        
    }

    #container_Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .formAno{
        margin-top: 40px;
        padding-right: 0px;
        width: 300px;
        
    }
    
    .formMes, .formDia {
        width: 300px;
        padding: 10px 0px 0px 0px;
    }
    
    .formTipo {
        padding: 10px 0px 0px 0px;
        width: 300px;
    }
    
    
    .descricao {
        width: 300px;
        margin-top: 65px;
        padding: 10px 0px 0px 0px;
    }
    
    .valor {
        width: 300px;
        padding: 10px 0px 0px 0px; 
        margin: 0;
    }

   .btn {
       width: 300px;
       margin-top: 10px;
       padding: 10px 0px 0px 0px;
   }

   #lista_consulta {
    display: flex;
    align-content: center;
    align-items: center;
    width: 500px;
    margin-top: 200px;
    height: 60px;
    }

    .ajuste_title {
        font-size: 30px
    }

    #containerText {
        display: flex;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
        height: 60px;
    }

    #lista_consulta {
        display: flex;
        justify-content: center;
        font-size: 12px;
        width: 100px;
        margin-top: 220px;
        height: 60px;
        }
    
       #listaDespesa button {
            margin-top: 0;
            width: 40px;
       }



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   /* navbar */
     #container_nav {
        background-color: #2BB6AE;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        height: 60px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #33a39e;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        font-size: 20px;
        line-height: 30px;
    }

    .open {
        left: 0%;
    }

    

    /* --------  */

    #containerForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        height: 60px;
        
    }

    #container_Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .formAno{
        margin-top: 40px;
        padding-right: 0px;
        width: 500px;
        
    }
    
    .formMes, .formDia {
        width: 500px;
        padding: 10px 0px 0px 0px;
    }
    
    .formTipo {
        padding: 10px 0px 0px 0px;
        width: 500px;
    }
    
    
    .descricao {
        width: 500px;
        margin-top: 65px;
        padding: 10px 0px 0px 0px;
    }
    
    .valor {
        width: 500px;
        padding: 10px 0px 0px 0px; 
        margin: 0;
    }

   .btn {
       width: 500px;
       margin-top: 10px;
       padding: 10px 0px 0px 0px;
       
   }

   
    #containerText {
        display: flex;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
        height: 60px;
    }

    #lista_consulta {
        display: flex;
        justify-content: center;
        width: 500px;
        margin-top: 220px;
        height: 60px;
        }
    
       #listaDespesa button {
            margin-top: 0;
            width: 40px;
       }

    

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#containerForm {
        display: flex;
        align-items: center;
        height: 60px;
        
    }

    #container_Form {
        display: flex;
        align-items: center;
       
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#containerForm {
        display: flex;
        align-items: center;
        height: 60px;
        
    }

    #container_Form {
        display: flex;
        align-items: center;
    }

   
}

    





