@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,400&family=Orbitron:wght@400;500;600;700;800;900&display=swap');


*{
    font-family: 'Orbitron';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color;
}



#container {
    @include container;
    
    .relogio{
        @include relogio-container;
        font-size: 2rem;

        .item{
            padding: 30px;
            font-size: 10rem;
            color: $primary-color;
            text-shadow: 2px 2px 10px rgba(15, 15, 15, 0.9);
        }
    }
}

